.body{
    background-color:pink ;
}
.homepagequote {
    display: block;
    margin-left: 450px;
    margin-right: auto;
    width: 50%;
}
.blogs-feed{
    text-align: center;
    margin-left: 370px;
    display: grid;
    grid-auto-flow: row;
   gap: 50px;
}
.blogs{
    height: 400px;
    background-color: #fafafa;
    color: black;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    width: 800px;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
}
.blogs img{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
a {
    text-decoration:none ;
  }
.blogs-detail{
    margin: 50px 300px;
}
.user-name{
    margin-left: 300px;
}

.categories-items {
    margin-left: 300px;
    display: grid;
    grid-auto-flow: column;
    background-color: pink;
    padding: 5px;
}
a{
    color: white;
}
.blog-search{
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-search input{
    width: 600px;
    margin-right: 5px;
}
.blog-search-btn{
    width: 100px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.blog-search input:focus{
    outline-color: #231f20;
}
.category{
    margin-left: 300px;
    position: fixed;
    margin-top: 20px;
    background-color: rgba(255, 192, 203, 0.556);
    padding: 5px;
    font-weight: 400;
}
.blog-btns{
    display: grid;
    grid-auto-flow: column;
    width: 100px;
    gap: 10px;
    justify-self: flex-end;
    margin-right: 300px;
}
.save-btn{
    width: 60px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.like-btn{
    width: 60px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.post-blog{
    margin: 50px 300px;
    display: grid;
    width: 400px;
    gap: 2rem;
}