* {
    margin: 0;
    padding: 0;
  }
  
  .role-page {
    display: grid;
    width: 100vw;
    gap: 2rem;
  }
  
  .role-page img {
    place-self: center;
  }
  
  .role-form-container {
    place-self: center;
    display: grid;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    gap: 1rem;
    padding: 0;
  }
  
  .role-form-container h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
  }
  
  .role-form-container h5 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(90, 90, 90);
  }
  
  .welcome-image {
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8f9fe;
  }
  
  .welcome-image img {
    place-self: center;
    /* border-radius: 20px; */
  }
  
  .roles-section {
    display: grid;
    /* gap: 1rem; */
    padding: 1.5rem;
  }
  
  .roles-section button {
    background-color: inherit;
    display: grid;
    width: 100%;
    place-content: center;
    border: 1px solid #e0e0e0;
    color: royalblue;
  }
  
  .roles-section button:hover {
    background-color: #f8f9fe;
  }
  