.blogs-feed{
    text-align: center;
    margin-left: 400px;
    display: grid;
    grid-auto-flow: row;
   gap: 50px;
}
.blogs{
    height: 400px;
    margin-top: 70px;
    background-color: #fafafa;
    color: black;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    width: 800px;
    padding: 20px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.blogs img{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
a {
    text-decoration:none ;
  }
.blogs p{
    color: rgb(43, 43, 43);
}
.date-time{
    justify-self: flex-end;
    font-size: 14px;
    color: gray;
}
.blogs-detail{
    margin-left:  350px;
    margin-right: 100px;
    margin-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.blogs-detail p{
    margin:40px 0;
}
.user-name{
    margin-left: 300px;
}

.categories-items {
    margin-left: 300px;
    display: grid;
    grid-auto-flow: column;
    background-color: pink;
    padding: 5px;
}
a{
    color: white;
}
.blog-search{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-search input{
    width: 600px;
    margin-right: 5px;
}
.blog-search-btn{
    width: 100px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.blog-search input:focus{
    outline-color: #231f20;
}
.category{
    margin-left: 255px;
    position: fixed;
    margin-top: 5px;
    background-color: gainsboro;
    color: black;
    padding: 10px;
    font-weight: 400;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.blog-btns{
    display: grid;
    grid-auto-flow: column;
    width: 100px;
    gap: 10px;
    justify-self: flex-end;
    margin-right: 300px;
}
.save-btn{
    width: 60px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.like-btn{
    width: 60px;
    height: 35px;
    border: thin solid pink;
    border-radius: 5px;
    color: white;
    background-color: #231f20;
}
.post-blog{
    margin: 50px 300px;
    display: grid;
    width: 400px;
    gap: 2rem;
}
