.App {
  text-align:justify;
  font-family: Verdana (sans-serif);
}
.nav-bar{
  display: grid;
  grid-auto-flow: row;
  width: 250px;
  height: 800px;
  position: fixed;
  background-color: #231f20;
}
.navbar-items{
  display: grid;
  justify-content: center;
  align-content:flex-start;
  grid-auto-flow: row;
  gap: 50px;
  padding-bottom: 200px;
  padding-top: 70px;
  list-style: none;
  font-size: 20px;
  
}
.signed-in{
  display: grid;
  justify-content: center;
  align-content:flex-start;
  grid-auto-flow: row;
  gap: 50px;
  list-style: none;
  font-size: 20px;
}
.navbar-items a{
  text-decoration: none;
  color: #fbfaf9;
}
.navbar-items .active{
  color: #dec2bb;
  font-weight: 700;
}
.signout-btn{
  width: 100px;
  height: 30px;
  background-color:pink ;
  border: thin solid pink;
  color: white;
  font-weight: 700;
}
.post-blog{
  width: 500px;
  border: thin solid rgb(217, 217, 217);
  padding: 20px;
  background-color: rgba(220, 220, 220, 0.248);
}
.post-blog button{
  width: 100px;
  height: 30px;
  justify-self: flex-end;
  background-color:pink ;
  border: thin solid pink;
  color: white;
  font-weight: 700;
}
.post-h1{
  margin-left: 300px;
  margin-top: 20px;
  color: pink;
}
.post-review{
  margin:300px;
}
.username{
  color: white;
}
.review-h1{
  margin:0 300px;
  color: palevioletred;
}
.review-btn{
  display: grid;
  gap: 10px;
}
.review-btn button{
  justify-self: flex-end;
}